

.ant-table-cell {
  padding: 5px;
  background-color: #fafafa;
  font-size: 0.8rem;
}

.table-container {
  padding: 15px;
  background-color: #fafafa;
}

::ng-deep.ant-table-title {
  background-color: #fafafa;
  font-size: 1rem;
  /*
  padding:0 0 10px 20px;
   */
  padding: 0 0 10px 5px;
  font-weight: bolder;
}

i {
  padding-right: 10px;
}

.name {
  font-weight: bolder;
}

.name:hover{
  cursor: pointer;
}
