
.coin-info{
  max-width: 1000px;
}


.asset-title{
  font-size: 3rem;
  font-weight: bolder;
  line-height: 90%;
  margin-bottom: 0;
}


.asset-name {
  font-size: 1.2rem;
  padding-left: 4px
}

.price-container{
  margin: 20px 0;
}

.price {
  font-size: 3rem;
  line-height: 90%;
  font-weight: bold;
}

.price-change{
  font-size: 1.2rem;
  margin-left: 20px;
  font-weight: bolder;
}

.asset-values {
  padding-left: 4px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.value {
  font-size: 1.1rem;
  font-weight: bold;
}

.details-container{
  max-width: 600px;
}

.main-container{
  padding: 0 24px;
}

.graph-container{
  padding-top: 20px;
  background-color: #f0f2f5;
  border-radius: 2px;
}


