<nz-table #filterTable [nzData]="displayData" nzTableLayout="fixed">
  <thead>
  <tr>
    <th nzCustomFilter>
      Name
      <nz-filter-trigger [(nzVisible)]="visible"
                         [nzActive]="searchValue.length > 0"
                         [nzDropdownMenu]="menu"
                         (nzVisibleChange)="focusInput()"
      >
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <!--
    <th>Rank</th>
    <th>Last Price</th>
    <th>Change 24Hr</th>
    <th>Supply</th>
    <th>Market Cap</th>
    -->
    <th *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">{{column.title}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filterTable.data">
    <td class="asset" ><span [routerLink]="['./',data.id]">{{ data.name }}</span></td>
    <td>{{ data.rank }}</td>
    <td>{{ data.priceUsd | number }}</td>
    <td>{{ data.changePercent24Hr | number}} </td>
    <td>{{ data.supply | numberSuffix : 2 }} </td>
    <td>{{ data.marketCapUsd | numberSuffix :2 }}</td>
  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu  #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input #searchByName type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
