<nz-table
  #filterTable
  [nzData]="displayData"
  nzTableLayout="fixed"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
  <thead>
  <tr>
    <th [nzChecked]="checked" nzWidth="80px" (nzCheckedChange)="onAllChecked($event)"></th>
    <th [nzSortFn]="rankHeader.compare"
        [nzSortPriority]="rankHeader.priority"
        nzWidth="80px"
    >
      {{ rankHeader.title }}
    </th>
    <th nzCustomFilter>
      Name
      <nz-filter-trigger [(nzVisible)]="visible"
                         [nzActive]="searchValue.length > 0"
                         [nzDropdownMenu]="menu"
                         (nzVisibleChange)="focusInput()"
      >
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th *ngFor="let column of listOfColumn"
        [nzSortFn]="column.compare"
        [nzSortPriority]="column.priority">
      {{column.title}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of filterTable.data">
    <td
      [nzChecked]="setOfCheckedId.has(data.id)"
      (nzCheckedChange)="onItemChecked(data.id, $event)"
    ></td>
    <td>{{ data.rank }}</td>
    <td class="asset" ><span [routerLink]="['./',data.id]">{{ data.name }}</span></td>
    <td>{{ data.priceUsd | currency }}</td>
    <td appCheckChange [price]="data.changePercent24Hr" >{{ data.changePercent24Hr | number | numberSign}}% </td>
    <td>{{ data.supply | numberSuffix : 2 }} </td>
    <td>{{ data.marketCapUsd | numberSuffix :2 }}</td>
  </tr>
  </tbody>
</nz-table>

<nz-dropdown-menu  #menu="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <input #searchByName type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
      <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
      <button nz-button nzSize="small" (click)="reset()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>
